{% extends 'visualizer/base.html' %}

{% load static %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">

        <div class="h3 mb-0 text-gray-800">{{ symbol_verbose }}</div>

        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Prediction (1 Hour)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">+1.7 %</div>
                        </div>
                        <div class="col-auto">
                            <span class="iconify big dark" data-icon="mdi:arrow-top-right-bold-outline" data-inline="false"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Prediction (1 Day)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">+4.8 %</div>
                        </div>
                        <div class="col-auto">
                            <span class="iconify big dark" data-icon="mdi:arrow-top-right-thick" data-inline="false"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Accuracy
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">83.4 %</div>
                        </div>
                        <div class="col-auto">
                            <span class="iconify big dark" data-icon="mdi:arrow-collapse-all" data-inline="false"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Price Trend Graph
                    </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="line_chart_div" name="line_chart_div">

                        {{ line_chart_div|safe }}

                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header">
                    <div class="flex-row">
                        <button class="btn btn-primary text-xs" name="highbutton" id="highbutton">High</button>
  
                        <button class="btn btn-outline-primary text-xs" name="lowbutton" id="lowbutton">Low</button>

                        <button class="btn btn-outline-primary text-xs" name="openbutton" id="openbutton">Open</button>

                        <button class="btn btn-outline-primary text-xs" name="closebutton" id="closebutton">Close</button>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body">

                    <div name="highcard" id="highcard">
    
                        <div class="col">

                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-2">
                                High Prediction
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Accuracy
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    64.3 %
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Variance
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    0.56
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Incline
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    0.21
                                </div>
                            </div>
     
                        </div>
                    </div>

                    <div name="lowcard" id="lowcard" style="display: none;">
       
                        <div class="col">

                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-2">
                                Low Prediction
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Accuracy
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    69.7 %
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Variance
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    0.51
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Incline
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    0.19
                                </div>
                            </div>
                                 
                        </div>
                    </div>

                    <div id="opencard" style="display: none;">

                        <div class="col">

                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-2">
                                Open Prediction
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Accuracy
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    78.1 %
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Variance
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    0.76
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Incline
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    0.25
                                </div>
                            </div>
                            
                        </div>

                    </div>

                    <div name="closecard" id="closecard" style="display: none;">
   
                        <div class="col">

                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-2">
                                Close Prediction
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Accuracy
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    60.7 %
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Variance
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    0.33
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 text-md mb-0 text-gray-800">
                                    Incline
                                </div>
                                <div class="col-6 text-md mb-0 font-weight-bold text-gray-800">
                                    0.12
                                </div>
                            </div>           
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        document.getElementById('highbutton').addEventListener('click', function(){
            lowcard.style.display = "none";
            opencard.style.display = "none";
            closecard.style.display = "none";
        
            highcard.style.display = "block";
        });
        
        document.getElementById('lowbutton').addEventListener('click', function(){
            highcard.style.display = "none";
            opencard.style.display = "none";
            closecard.style.display = "none";
        
            lowcard.style.display = "block";
        });
        
        document.getElementById('openbutton').addEventListener('click', function(){
            highcard.style.display = "none";
            lowcard.style.display = "none";
            closecard.style.display = "none";
        
            opencard.style.display = "block";
        });

            
        document.getElementById('closebutton').addEventListener('click', function(){
            highcard.style.display = "none";
            lowcard.style.display = "none";
            opencard.style.display = "none";
        
            closecard.style.display = "block";
        });

        var plot_div_id = $('#line_chart_div').children().attr('id');

        alert(plot_div_id);

        var plotly_line_div = document.getElementById(plot_div_id);

        plotly_line_div.on('plotly_click', function (data) {
            alert("You clicked the button using JQuery!");
        });
    });
</script>
                       
{% endblock %}