{% extends 'visualizer/base.html' %}

{% load static %}

{% block content %}

<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">

        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Download Models</a>
    </div>

    <!-- Content Row -->
    <div class="row mb-3">
        <div class="col-3">
            <div class="mb-2">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Stocks
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ stocks }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <span class="iconify big dark" data-icon="mdi:bank-check" data-inline="false"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Average Prediction
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    +0.5 %
                                </div>
                            </div>
                            <div class="col-auto">
                                <span class="iconify big dark {" data-icon="mdi:arrow-top-right-bold-outline" data-inline="false"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Stocks Predicted
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">42 %</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar" role="progressbar"
                                                style="width: 42%" aria-valuenow="50" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <span class="iconify big dark" data-icon="mdi:bank" data-inline="false"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="mb-2">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Stock List
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ stock_list_verbose }}
                                </div>
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    {{ stock_list_date_updated }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <span class="iconify big dark" data-icon="mdi:clipboard-list-outline" data-inline="false"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="card shadow mb-4">
                <a class="btn-link" href="/dashboard/{{ line_chart_symbol }}">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">
                            {{ line_chart_symbol }}
                        </h6>
                    </div>
                </a>      
                <div class="card-body">
                    {{ line_chart_div|safe }}
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <!-- Area Chart -->
        <div class="col-9">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Stock Trend Overview</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Change Parameters:</div>
                            <a class="dropdown-item" href="#">Bins</a>
                            <a class="dropdown-item" href="#">Function</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Download Plot</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    

                    {{ histogram_div|safe }}


                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-3">
            <div class="card shadow mb-2">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Stock Trends</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Highest Predicted Stocks</a>
                            <a class="dropdown-item" href="#">Lowest Predicted Stocks</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Reset</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {% for stock_trend in stock_trends %}
                        <a class="btn-link" href="/dashboard/{{ stock_trend.symbol }}">
                            {% if stock_trend.trend_bin %}
                            
                                <div class="card border-left-success shadow mb-2" style="height: 70px">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col font-weight-bold text-gray-700" style="text-align: left;">
                                                {{ stock_trend.symbol }}
                                            </div>
                                            <div class="col font-weight-bold text-gray-900" style="text-align: right; white-space: nowrap;">
                                                {{ stock_trend.trend }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            {% else %}

                                <div class="card border-left-danger shadow mb-2" style="height: 70px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-5 font-weight-bold text-gray-700" style="text-align: left">
                                                {{ stock_trend.symbol }}
                                            </div>
                                            <div class="col-7 font-weight-bold text-gray-900" style="text-align: right; white-space: nowrap;">
                                                {{ stock_trend.trend }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        </a>
                    {% endfor %}

                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Rising
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-danger"></i> Falling
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Projects Work Investment Distribution</h6>
                </div>

                <div class="card-body">
                    <h4 class="small font-weight-bold">LSTM Machine Learning Stock Prediction<span
                            class="float-right">45%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 45%"
                            aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Data Acquisition<span
                            class="float-right">10%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 10%"
                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Django Web Application<span
                            class="float-right">40%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 30%"
                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">CI/CD Pipeline<span
                            class="float-right">5%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 5%"
                            aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">About</h6>
                </div>
                <div class="card-body">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Nicole Hölzl, Paul Hörnmann, Fabian Kastner
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <span class="iconify big" data-icon="mdi:clipboard-list-outline" data-inline="false"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </br>
                    
                    <a target="_blank" rel="nofollow" href="https://startbootstrap.com/theme/sb-admin-2">
                        Dashboard Design Courtesy to startbootstrap.com
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}